<nav class="navbar navbar-dark navbar-expand-md bg-dark">
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    <span class="navbar-title">Avatar</span> <span class="navbar-version">{{version}}</span>
  </a>
  <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive"
     aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <fa-icon icon="bars"></fa-icon>
  </a>

  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
          <span><fa-icon icon="home"></fa-icon><span>Home</span></span>
        </a>
      </li>
      <li ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="options-menu">
          <span><fa-icon icon="th-list"></fa-icon><span>Opciones</span></span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li>
            <a class="dropdown-item" routerLink="persona" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="user" fixedWidth="true"></fa-icon>
              <span>Personas</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
