<div>
  <h2 id="page-heading">
    <span>Persons</span>
  </h2>
  <span *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
  </span>
  <div class="table-responsive-xl">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th colspan="8" style="text-align: left;">
          <button id="jh-create-entity" class="btn btn-sm btn-primary jh-create-entity"
                  [routerLink]="['/persona/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>Create</span>
          </button>
        </th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Height</th>
        <th scope="col">Mass</th>
        <th scope="col">Hair Color</th>
        <th scope="col">Gender</th>
        <th scope="col">Planet</th>
        <th scope="col" class="text-center">Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let persona of personas; index as i">
        <th scope="row">{{ (page - 1) * itemsPerPage + i + 1 }}</th>
        <td>{{ persona.name }}</td>
        <td>{{ persona.height }}</td>
        <td>{{ persona.mass }}</td>
        <td>{{ persona.hair_color }}</td>
        <td>{{ persona.gender }}</td>
        <td>{{ persona.planet }}</td>
        <td class="text-center">
          <button type="submit" [routerLink]="['/persona', persona.id, 'edit']" class="btn btn-success btn-sm">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <span class="d-none d-md-inline">View</span>
          </button>
          <button type="submit" class="btn btn-danger btn-sm" (click)="deleteItem(tmplDelete,persona)">
            <fa-icon [icon]="'times'"></fa-icon>
            <span class="d-none d-md-inline">Delete</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div class="row justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                      [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
  </div>
</div>


<ng-template #tmplDelete let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete Person</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this Person?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Delete</button>
      <button type="button" ngbAutofocus class="btn btn-outline-dark" (click)="modal.dismiss('Cancel')">Cancel</button>
    </div>
  </div>
</ng-template>

