<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">Persons</h5>
    <p class="card-text">Operation with information of persons</p>
    <a routerLink="persona" class="btn btn-primary">Go</a>
  </div>
</div>
