<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate [formGroup]="frmUpdate" (ngSubmit)="save()">
      <h2>Create or edit a Persona</h2>
      <div>
        <ngb-alert *ngIf="errorMenssage" type="danger" (close)="errorMenssage = null">{{ errorMenssage }}</ngb-alert>
        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name"
                 formControlName="name" required/>
          <div [hidden]="!(frmUpdate.controls.name?.dirty && frmUpdate.controls.name?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!frmUpdate.controls.name?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_height">Height</label>
          <input type="text" class="form-control" name="height" id="field_height"
                 formControlName="height"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_mass">Mass</label>
          <input type="text" class="form-control" name="height" id="field_mass"
                 formControlName="mass"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_hair_color">Hair Color</label>
          <input type="text" class="form-control" name="hair_color" id="field_hair_color"
                 formControlName="hair_color"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender">
            <option value="male">MALE</option>
            <option value="female">FEMALE</option>
          </select>
          <div [hidden]="!(frmUpdate.controls.gender?.dirty && frmUpdate.controls.gender?.invalid)">
            <small class="form-text text-danger" [hidden]="!frmUpdate.controls.gender?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_planet">Planet</label>
          <input type="text" class="form-control" name="name" id="field_planet" [class.is-invalid]="searchFailed"
                 formControlName="planet" [ngbTypeahead]="search" required/>
          <span *ngIf="searching">searching...</span>
          <div [hidden]="!(frmUpdate.controls.planet?.dirty && frmUpdate.controls.planet?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!frmUpdate.controls.planet?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

      </div>
      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" id="save-entity" class="btn btn-primary"
                [disabled]="isSaving || frmUpdate.invalid">
          <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
